.top-part{
    background-color: #F0FFF0;
}

.container {
  margin-top: 10px;
}

.logo img {
  width: 200px;
}

.navbar-nav > li {
  padding-left: 20px;
  padding-right: 20px;
}

#sign-in {
  padding: 5px 20px;
  border-radius: 20px;
  background-color: #21b573;
  border: none;
  color: white;
}
