@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}
.top-part {
  background-color: #f0fff0;
}

.container {
  margin-top: 10px;
  width: 100%;
}

.logo img {
  width: 200px;
}

.navbar-nav > li {
  padding-left: 20px;
  padding-right: 20px;
}

#sign-in {
  padding: 5px 20px;
  border-radius: 20px;
  background-color: #21b573;
  border: none;
  color: white;
  font-weight: 400;
}

h1 {
  font-weight: 700;
  font-size: 48px;
}

.banner-image img {
  width: 100%;
  padding: 10px;
  margin: 30px;
}

.banner-text {
  margin: 10px;
}

.banner {
  margin-bottom: 42px;
}

.any-schedule {
  color: #21b573;
}

h6 {
  color: #fd511a;
  font-weight: 400;
  line-height: 2rem;
}

p {
  font-size: 16px;
  line-height: 36px;
  margin: 20px 0px;
  color: #949796;
  width: 410px;
  height: 85px;
}

.card-c {
  height: 100%;
  align-items: center;
  border: none;
  border-radius: 10px;
  background-color: #f8fffb;
}

.curriculum {
  margin-top: 20px;
  margin-bottom: 90px;
}
.card-body-c {
  text-align: center;
}
.card-c img {
  width: 70px;
  height: 90px;
  margin-top: 50px;
}

.text {
  font-size: 0.9rem;
  margin: 0px;
  color: #949796;
}

h4,
h2 {
  color: black;
}

h2 {
  font-weight: 700;
}
.card-students {
  height: 100%;
  align-items: center;
  border: none;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: white;
}

.card-courses {
  border: none;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.special-card-img {
  padding: 20px;
}

.course-heading {
  margin-top: 20px;
  margin-bottom: 50px;
}

.card-footer {
  border: none;
  background-color: white;
}

.date img,
.seat img {
  width: 24px;
  height: 24px;
}

.man {
  width: 120px;
  height: 120px;
}

.section {
  display: flex;
  justify-content: center;
}

.section p {
  width: 580px;
  margin-left: 52px;
  color: black;
  font-size: 16px;
  line-height: 30px;
}

.testimonial {
  margin-top: 88px;
}

.testimonial-section {
  margin-bottom: 100px;
}

footer {
  background-color: #282531;
  color: white;
  height: 370px;
  padding-top: 48px;
}

.course-link {
  margin: 0px 30px;
  list-style: none;
}

.link-heading {
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
}

.link-heading li {
  font-size: 12px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
}

.pum-text {
  width: 450px;
}

.copyright-text {
  margin-top: 120px;
  text-align: center;
  width: 100%;
}
